img {
  display: block;
}
ul {
  list-style: none;
}
body {
  font-size: 16px;
  background-color: #ccc;
  /* background-image: radial-gradient(black 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px; */
}

.country__mini-card {
  display: flex;
  align-items: center;
}
.country__mini-card img {
  margin-right: 10px;
}

.country__title {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.country__title p {
  font-size: 1.5em;
  font-weight: 700;
}

.country__title img {
  margin-right: 10px;
}

.country__item {
  display: flex;
}
.country__item--accent {
  margin-right: 10px;
}

.country__item--accent {
  font-weight: 700;
}
